<?xml version="1.0"?>
<!--
/**
 * @category  Custom
 * @package   Custom\Status
 * @author    Anton Dudenkoff <anton@dudenkoff.com>
 * @copyright 2019 Custom
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Custom_Status" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>